.position-list {
    &__header {
        font-weight: bold;
        font-size: 3.6rem;
        margin: 0;

        @media only screen and (max-width: 1360px) {
            font-size: 3rem;
        }
    }

    &__list {
        padding: 0;
        margin-bottom: 3rem;
        list-style: none;

        li {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-family: 'Bitter', serif;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media only screen and (max-width: 1360px) {
                font-size: 1.8rem;
            }
        }
    }
}