.menu {
    height: 10rem;
    border-bottom: 0.1rem solid $color-black;
    display: flex;
    align-items: center;
    width: calc(100% - 8rem);
    
    &__link {
        font-size: 2rem;
        color: $color-black;
        text-decoration: none;
        margin-right: 2rem;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__logo-ctn {
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 0.1rem solid black;
        height: 100%;
        margin-right: 3rem;

        img {
            width: 5.5rem;
            height: 5.5rem;
        }
    }

    &__hamburger-icon-ctn {
        width: 10rem;
        justify-content: center;
        align-items: center;
        border-right: 0.1rem solid black;
        height: 100%;
        margin-right: 3rem;
        display: none;

        @media only screen and (max-width: 992px) {
            display: flex;
        }
    }

    @media only screen and (max-width: 992px) {
        width: calc(100% - 2rem);
    }
}