.about {
    display: flex;

    &__name {
        color: $color-red;
        font-size: 10rem;
    }

    &__tag {
        font-weight: bold;

        &--sm {
            font-size: 6.4rem;
        }

        &--md {
            font-size: 9.6rem;
        }

        &--lg {
            font-size: 14.4rem;
        }
        
        &--welcome-phrase {
            position: absolute;
            left: 35rem;
        }

        &--melomaniac {
            position: absolute;
            left: -13.8rem;
            transform: rotate(-90deg);
            bottom: 50rem;
        }

        &--citizen {
            position: absolute;
            right: -5rem;
            transform: rotate(90deg);
            top: 37.8rem;
        }

        &--origin {
            position: absolute;
            bottom: -2.8rem;
            right: 58rem;
        }

        &--web-dev {
            position: absolute;
            bottom: 40rem;
            left: 20rem;
        }

        &--designer {
            position: absolute;
            bottom: 14.5rem;
            right: 30%;
        }

        &--living {
            position: absolute;
            bottom: 10rem;
            left: 12.5rem;
        }

        &--stack {
            position: absolute;
            left: 59rem;
            top: 33rem;
        }
    }

    &__img-ctn {
        position: absolute;
        top: 0;
        right: 30rem;
    }
}