.timeline-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &__line {
        height: 0.4rem;
        width: 100%;
    }

    &__title {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-family: 'Bitter', serif;
    }

    &__point {
        height: 1.2rem;
        width: 1.2rem;
        position: absolute;
        left: -1.2rem;
        background-color: $color-white;
        bottom: 1.9rem;
        border-radius: 4rem;
        border: 0.4rem solid black;

        @media only screen and (max-width: 1360px) {
            height: 0.8rem;
            width: 0.8rem;
            bottom: 2.1rem;
        }

        @media only screen and (max-width: 992px) {
            display: none;
        }
    }
}