@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
  