.links {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        padding-bottom: 3rem;

        &:last-of-type {
            padding-bottom: 0;
        }
    }
    
    img {
        width: 4rem;
        height: 4rem;
    }
}