.projects-row {
    margin-bottom: 6rem;

    &__title {
        font-weight: bold;
        font-size: 3.6rem;
        margin-bottom: 2.5rem;
        margin-top: 0;
    }

    &__projects-ctn {
        display: flex;
        flex-wrap: wrap;
    }
    
    @media only screen and (max-width: 1600px) {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 992px) {
        margin-bottom: 2rem;
    }
}